.cartItemBase {
  display: flex;
  margin: 0.8rem 0.1rem;
  align-items: center;
  background: white;
  padding: 0.5rem;
  border-radius: 1rem;
  box-shadow: 0 0 10px 5px var(--bodybg);
  min-width: 46rem;
  width: 60%;
}
.cartItemBase:hover {
  box-shadow: 0 0 10px var(--purple);
}

.prdImage img {
  width: 8rem;
  border-radius: 1rem;
  margin: 0 1rem;
}

.prdDetail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  padding: 0 0.5rem;
}
.prdDetail span {
  color: black;
}

.prdDetail p {
  font-size: smaller;
}
.prdDetail > p:nth-child(3) {
  font-size: 10px;
}

.selection span {
  margin-left: 0.3rem;
  font-size: small;
}

.selection span:nth-child(3) {
  font-size: 10px;
  color: red;
  border: 1px solid red;
  padding: 2px;
}

.selection label{
    margin-right: 5px;
}

select{
    outline: none;
    border: none;
    padding: 5px;
    background: var(--bodybg);
    border-radius: 0.5rem;
}

.itemPrice{
    display: flex;
    align-items: baseline;
    justify-content: baseline;
    gap: 0.6rem;
}

.itemPrice s {
  color: grey;
  font-size: small;
}
.itemPrice span:nth-child(3) {
  color: red;
  font-size: small;
}

.itemReturn{
  display: flex;
  font-size: small;
}

.itemReturn span{
  margin-right: 0.5rem;
}

@media screen and (max-width: 786px) {

    .cartItemBase{
      min-width: 100%;
    }
}
