.bottomtab{
    background: white;
    border-radius: 1rem;
    /* padding: 0 0 1rem 0; */
    grid-column: 1 / 3;
    margin:  10px;
}

.bottomtab>div{
    border: 3px solid white;
    border-radius: 1rem;
    margin: auto 1rem;
    width: 150px;
    height: 80px;
    overflow: hidden;
    margin: 0.5rem;
    position: relative;
}
.bottomtab>div:hover{
    border: 3px solid red; 
}


.bottomtab>div>img{
  width: 100%;
  height: 100%;

}




.bottomtab>div>p{
    position: absolute;
    top: 70%;
    left: 25%;

}
