.cat{
    gap: 1rem;
   
}

.cat div{
    text-align: center;
    padding: 5px;
    position: relative;
    text-align: center;
    border: 3px solid white;
}
.cat div:hover{
    border: 3px solid red;
    border-radius: 1rem;
}

.cat div> img{
    width: 100%;
    height: 100%;
}
.cat div> p{
    position: absolute;
    bottom: 15%;
    color: white;
    font-weight: bold;
}