.prd_list{
   
    border-radius: 1rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0.5rem;
    gap: 20px;
    align-items: center;
    justify-content: flex-start;
    
}

.prd_list>div{
    border: 2px solid grey;
    padding: 0.5rem;
    width: 11rem;
    height: 11rem;
    overflow: hidden;
    position: relative;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.prd_list>div>span{
    position: absolute;
    top: 3%;
    right: 3%;
}

.prd_list>div>img{
    width: 120px;
    
}

.prd_list>div>p{
    font-size: small;
    color: grey;
}

/* PopUp functionality */
.popup{
/* border: 2px solid red; */
position: absolute;
z-index: 10;
top: 0;
right:0;
background: white;
display: flex;
width: 82%;
padding: 2rem 1rem;
}

.close{
    z-index: 13;
    position: absolute;
    top: 5px;
    right: 5px;
}
.popup>div{
    z-index: 12;
}

hr{
    margin: 1rem;
}