main{
    display: flex;
    
}

.mybtn{
    padding: 0.5rem;
    background: var(--purple);
    border-radius: 0.6rem;
    gap: 5px;
    cursor: pointer;
    color: white;
    border: none;
}

.mybtn:hover{
    background: var(--indigo);
}

