main{
/* width: 100vw; */
display: grid;
grid-template-columns: auto 1fr auto;
grid-template-rows: auto 1fr;
column-gap: 15px;
margin: 10px;

}

.mybtn{
    padding: 5px;
    border: 1px solid black;
    background: white;
    border-radius: 0.5rem;
    gap: 5px;
    font-size: large;
    cursor: pointer;
}
